/* CSS Document */
/* main top
------------------------------------------------------------*/
main.top #article .article-list li:last-of-type {
  border-bottom: none;
}

@media screen and (min-width: 661px) and (max-width: 1080px) {
  /* main top
------------------------------------------------------------*/
}

/*sp*/
@media screen and (max-width: 660px) {
  /* main top
------------------------------------------------------------*/
  main.top #article .article-list li {
    padding: 15px;
  }
  main.top #article .article-list li:last-child {
    border: none;
  }
  main.top #article .btn-block {
    margin-bottom: 0;
  }
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

address, em, strong, th {
  font-style: normal;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

hr, legend {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, fieldset {
  border: 0;
}

li {
  list-style-type: none;
}

/* ƒtƒ[ƒg
------------------------------------------------------------*/
.float_l {
  float: left;
}

.float_r {
  float: right;
}

.clear {
  clear: both;
}

/* for WP */
#wpadminbar {
  -ms-filter: "alpha( opacity=$number*100 )";
  filter: alpha(opacity=20);
  opacity: 0.2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#wpadminbar:hover {
  -ms-filter: "alpha( opacity=$number*100 )";
  filter: alpha(opacity=100);
  opacity: 1;
}

.fb_hidden {
	position: absolute;
	top: -10000px;
	z-index: 10001
}

.fb_reposition {
	overflow: hidden;
	position: relative
}

.fb_invisible {
	display: none
}

.fb_reset {
	background: none;
	border: 0;
	border-spacing: 0;
	color: #000;
	cursor: auto;
	direction: ltr;
	font-family: "lucida grande", tahoma, verdana, arial,
		"hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	margin: 0;
	overflow: visible;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	word-spacing: normal
}

.fb_reset>div {
	overflow: hidden
}

@
keyframes fb_transform {
	from {opacity: 0;
	transform: scale(.95)
}

to {
	opacity: 1;
	transform: scale(1)
}

}
.fb_animate {
	animation: fb_transform .3s forwards
}

.fb_dialog {
	background: rgba(82, 82, 82, .7);
	position: absolute;
	top: -10000px;
	z-index: 10001
}

.fb_dialog_advanced {
	border-radius: 8px;
	padding: 10px
}

.fb_dialog_content {
	background: #fff;
	color: #373737
}

.fb_dialog_close_icon {
	background:
		url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
		no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: block;
	height: 15px;
	position: absolute;
	right: 18px;
	top: 17px;
	width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon {
	left: 5px;
	right: auto;
	top: 5px
}

.fb_dialog_padding {
	background-color: transparent;
	position: absolute;
	width: 1px;
	z-index: -1
}

.fb_dialog_close_icon:hover {
	background:
		url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
		no-repeat scroll 0 -15px transparent
}

.fb_dialog_close_icon:active {
	background:
		url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png)
		no-repeat scroll 0 -30px transparent
}

.fb_dialog_iframe {
	line-height: 0
}

.fb_dialog_content .dialog_title {
	background: #6d84b4;
	border: 1px solid #365899;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0
}

.fb_dialog_content .dialog_title>span {
	background:
		url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif)
		no-repeat 5px 50%;
	float: left;
	padding: 5px 0 7px 26px
}

body.fb_hidden {
	height: 100%;
	left: 0;
	margin: 0;
	overflow: visible;
	position: absolute;
	top: -10000px;
	transform: none;
	width: 100%
}

.fb_dialog.fb_dialog_mobile.loading {
	background:
		url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif)
		white no-repeat 50% 50%;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered {
	background: none;
	height: auto;
	min-height: initial;
	min-width: initial;
	width: auto
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
	width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
	background: none
}

.loading.centered #fb_dialog_loader_close {
	clear: both;
	color: #fff;
	display: block;
	font-size: 18px;
	padding-top: 20px
}

#fb-root #fb_dialog_ipad_overlay {
	background: rgba(0, 0, 0, .4);
	bottom: 0;
	left: 0;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden {
	display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe {
	visibility: hidden
}

.fb_dialog_mobile .fb_dialog_iframe {
	position: sticky;
	top: 0
}

.fb_dialog_content .dialog_header {
	background: linear-gradient(from(#738aba), to(#2c4987));
	border-bottom: 1px solid;
	border-color: #1d3c78;
	box-shadow: white 0 1px 1px -1px inset;
	color: #fff;
	font: bold 14px Helvetica, sans-serif;
	text-overflow: ellipsis;
	text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
	vertical-align: middle;
	white-space: nowrap
}

.fb_dialog_content .dialog_header table {
	height: 43px;
	width: 100%
}

.fb_dialog_content .dialog_header td.header_left {
	font-size: 12px;
	padding-left: 5px;
	vertical-align: middle;
	width: 60px
}

.fb_dialog_content .dialog_header td.header_right {
	font-size: 12px;
	padding-right: 5px;
	vertical-align: middle;
	width: 60px
}

.fb_dialog_content .touchable_button {
	background: linear-gradient(from(#4267B2), to(#2a4887));
	background-clip: padding-box;
	border: 1px solid #29487d;
	border-radius: 3px;
	display: inline-block;
	line-height: 18px;
	margin-top: 3px;
	max-width: 85px;
	padding: 4px 12px;
	position: relative
}

.fb_dialog_content .dialog_header .touchable_button input {
	background: none;
	border: none;
	color: #fff;
	font: bold 12px Helvetica, sans-serif;
	margin: 2px -12px;
	padding: 2px 6px 3px 6px;
	text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog_content .dialog_header .header_center {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	vertical-align: middle
}

.fb_dialog_content .dialog_content {
	background:
		url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif)
		no-repeat 50% 50%;
	border: 1px solid #4a4a4a;
	border-bottom: 0;
	border-top: 0;
	height: 150px
}

.fb_dialog_content .dialog_footer {
	background: #f5f6f7;
	border: 1px solid #4a4a4a;
	border-top-color: #ccc;
	height: 40px
}

#fb_dialog_loader_close {
	float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
	text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
	visibility: hidden
}

#fb_dialog_loader_spinner {
	animation: rotateSpinner 1.2s linear infinite;
	background-color: transparent;
	background-image:
		url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px
}

@
keyframes rotateSpinner { 0%{
	transform: rotate(0deg)
}

100%{
transform


















:rotate(360deg)


















}
}
.fb_iframe_widget {
	display: inline-block;
	position: relative
}

.fb_iframe_widget span {
	display: inline-block;
	position: relative;
	text-align: justify
}

.fb_iframe_widget iframe {
	position: absolute
}

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span,
	.fb_iframe_widget_fluid_desktop iframe {
	max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe {
	min-width: 220px;
	position: relative
}

.fb_iframe_widget_lift {
	z-index: 1
}

.fb_iframe_widget_fluid {
	display: inline
}

.fb_iframe_widget_fluid span {
	width: 100%
}
</style>
<style type="text/css">
.repro--btn {
	background-color: #000;
	border: 1px solid #000;
	border-radius: 6px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	overflow: hidden;
	padding: 8px 14px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	white-space: pre-wrap;
	word-break: break-word
}

.repro--close-btn {
	cursor: pointer;
	padding: 8px 17px 6px 12px;
	position: absolute;
	right: 0;
	top: 0
}

.repro--close-btn>div, .repro--close-btn>div>div {
	background-color: #000;
	height: 18px;
	width: 3px
}

.repro--close-btn>div {
	transform: rotate(45deg)
}

.repro--close-btn>div>div {
	transform: rotate(90deg)
}

#repro--banner--body, #repro--banner--header, #repro--dialog--body,
	#repro--dialog--header, #repro--dialog-mini--body,
	#repro--dialog-mini--header {
	font-family: inherit;
	line-height: 1.2;
	overflow: hidden;
	white-space: pre-wrap;
	word-break: break-word
}

.repro--dialog--wrapper {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	left: 0;
	padding: 24px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2147483647 !important
}

.repro--dialog--wrapper.repro--position--left {
	justify-content: flex-start
}

.repro--dialog--wrapper.repro--position--right {
	justify-content: flex-end
}

.repro--dialog--wrapper.repro--position--center {
	justify-content: center
}

.repro--dialog--wrapper.repro--position--top {
	align-items: flex-start
}

.repro--dialog--wrapper.repro--position--middle {
	align-items: center
}

.repro--dialog--wrapper.repro--position--bottom {
	align-items: flex-end
}

@media only screen and (max-width:640px) {
	.repro--dialog--wrapper.repro--position--left, .repro--dialog--wrapper.repro--position--right
		{
		justify-content: center
	}
}

#repro--dialog--overlay-wrapper {
	background-color: rgba(0, 0, 0, .8);
	opacity: 0;
	transition: opacity .2s ease-in
}

#repro--dialog--closer {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100
}

#repro--dialog--container {
	background-color: #fff;
	border: 0;
	box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
	display: inline-flex;
	min-height: 200px;
	min-width: 320px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 700px;
	z-index: 101
}

#repro--dialog--content {
	align-items: center;
	display: flex
}

#repro--dialog--image-container {
	background-position: 50%;
	background-size: cover;
	display: flex;
	min-width: 266px;
	overflow: hidden
}

#repro--dialog--text {
	overflow: hidden;
	padding: 24px;
	width: 100%
}

#repro--dialog--header {
	color: #000;
	font-size: 1em;
	font-weight: 700
}

#repro--dialog--body {
	color: rgba(0, 0, 0, .8);
	font-size: .9em;
	margin-top: 8px
}

#repro--dialog--btn-container {
	align-items: flex-start;
	display: inline-flex
}

#repro--dialog--primary-btn, #repro--dialog--secondary-btn {
	margin-top: 12px;
	max-width: 385px
}

#repro--dialog--secondary-btn {
	margin-left: 8px
}

@media only screen and (max-width:640px) {
	#repro--dialog--container {
		flex-direction: column;
		max-width: 90%
	}
	#repro--dialog--header {
		max-height: 75px
	}
	#repro--dialog--body {
		max-height: 52px
	}
	#repro--dialog--image-container {
		min-height: 246px
	}
	#repro--dialog--btn-container {
		display: flex
	}
	#repro--dialog--primary-btn, #repro--dialog--secondary-btn {
		max-width: none;
		width: 100%
	}
}

#repro--dialog-mini--wrapper {
	pointer-events: none
}

#repro--dialog-mini--container {
	pointer-events: auto;
	border: 0;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	min-width: 320px;
	opacity: 0;
	padding: 0;
	position: relative;
	transition: opacity .2s ease-in;
	width: 325px
}

#repro--dialog-mini--content {
	align-items: center;
	background-color: #fff;
	box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
	display: flex;
	flex-direction: column;
	padding: 12px;
	position: relative
}

#repro--dialog-mini--upper {
	display: inline-flex;
	width: 100%
}

#repro--dialog-mini--image-container {
	display: flex;
	margin-right: 12px;
	text-align: center
}

#repro--dialog-mini--image {
	align-self: center;
	max-height: 72px;
	max-width: 72px
}

#repro--dialog-mini--header {
	color: #000;
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 8px;
	max-height: 96px
}

#repro--dialog-mini--body {
	color: rgba(0, 0, 0, .8);
	font-size: 1em;
	max-height: 76px
}

#repro--dialog-mini--btn-container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding-top: 12px;
	width: 100%
}

#repro--dialog-mini--primary-btn {
	margin-bottom: 8px;
	margin-right: 8px
}

#repro--dialog-mini--primary-btn, #repro--dialog-mini--secondary-btn {
	width: 100%
}

@media only screen and (max-width:640px) {
	#repro--dialog-mini--text {
		padding-top: 18px
	}
}

#repro--dialog-image-only--container {
	border: 0;
	box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
	cursor: pointer;
	display: inline-flex;
	max-height: 90vh;
	max-width: 90vw;
	padding: 0;
	position: relative;
	z-index: 2147483647 !important
}

#repro--dialog-image-only--image {
	align-self: center;
	max-height: 90vh;
	max-width: 90vw;
	min-height: 24px;
	min-width: 24px;
	margin: 0
}

#repro--banner--container {
	background-color: rgba(0, 0, 0, .8);
	bottom: 0;
	box-sizing: border-box;
	left: 0;
	max-height: 100vh;
	min-height: 72px;
	min-width: 320px;
	opacity: 0;
	padding-left: 12px;
	padding-right: 12px;
	position: fixed;
	transition: opacity .2s ease-in;
	width: 100%;
	z-index: 2147483647 !important
}

#repro--banner--content {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 960px
}

#repro--banner--upper {
	display: flex;
	flex: 1
}

#repro--banner--image-container {
	display: flex;
	width: auto
}

#repro--banner--image-container img {
	align-self: center;
	box-sizing: content-box;
	max-height: 274px;
	max-width: 300px;
	padding-bottom: 12px;
	padding-top: 12px
}

#repro--banner--text {
	padding: 24px;
	width: 100%
}

#repro--banner--header {
	color: #fff;
	font-size: 1em;
	font-weight: 700
}

#repro--banner--body {
	color: hsla(0, 0%, 100%, .8);
	font-size: .9em;
	margin-top: 8px
}

#repro--banner--btn-container {
	align-items: flex-start;
	display: inline-flex;
	padding-bottom: 24px;
	padding-top: 24px
}

#repro--banner--primary-btn, #repro--banner--secondary-btn {
	max-width: 230px
}

#repro--banner--primary-btn {
	margin-right: 8px
}

@media only screen and (min-width:640px) {
	#repro--banner--container .repro--close-btn {
		position: static
	}
}

@media only screen and (max-width:960px) {
	#repro--banner--content {
		max-width: 100%
	}
}

@media ( max-width :640px) {
	#repro--banner--content {
		flex-direction: column
	}
	#repro--banner--btn-container {
		padding-bottom: 12px;
		padding-top: 8px
	}
	#repro--banner--text {
		padding-bottom: 8px;
		padding-left: 12px
	}
	#repro--banner--btn-container {
		display: flex;
		flex-direction: column
	}
	#repro--banner--primary-btn {
		margin: 0
	}
	#repro--banner--primary-btn, #repro--banner--secondary-btn {
		box-sizing: border-box;
		max-width: none;
		width: 100%
	}
	#repro--banner--secondary-btn {
		margin-top: 8px
	}
}

#repro--banner-image-only--wrapper {
	background-color: rgba(0, 0, 0, .8);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	max-height: 100vh;
	opacity: 0;
	position: fixed;
	transition: opacity .2s ease-in;
	width: 100%;
	z-index: 2147483647 !important
}

#repro--banner-image-only--container {
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative
}

#repro--banner-image-only--image {
	cursor: pointer
}

#repro--icon-image-only--wrapper {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	left: 0;
	padding: 24px;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2147483647 !important
}

#repro--icon-image-only--wrapper.repro--position--left {
	justify-content: flex-start
}

#repro--icon-image-only--wrapper.repro--position--right {
	justify-content: flex-end
}

#repro--icon-image-only--wrapper.repro--position--center {
	justify-content: center
}

#repro--icon-image-only--wrapper.repro--position--top {
	align-items: flex-start
}

#repro--icon-image-only--wrapper.repro--position--middle {
	align-items: center
}

#repro--icon-image-only--wrapper.repro--position--bottom {
	align-items: flex-end
}

#repro--icon-image-only--container {
	border: none;
	opacity: 0;
	padding: 0;
	pointer-events: auto;
	transition: opacity .2s ease-in
}

#repro--icon-image-only--image {
	cursor: pointer;
	max-height: 300px;
	max-width: 300px
}

